.EditorCore {
  position: absolute;
  top: 0;
  left: 175px;
  right: 0;
  height: 100%;
  border-radius: 0;
}

.EditorCoreTextArea-wrapper {
  min-height: 100%;
  min-width: 420px;
  margin: 0px auto;
  padding: 0px 5px 0px 0px;
}

/* .CodeMirror .CodeMirror-cursor {
  border-left: 2px solid blue;
} */
